/* Reset some default browser styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Set the default dark mode */
body {
    background-color: #000000;
    color: #fff;
}

header {
    background-image: url('img/hiddenciphers.jpeg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

h1 {
    font-size: 2em;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style each blog post as a card with a border */
article {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 400px;
}

/* Style for dark mode */
body.dark-mode article {
    background-color: #333;
    border-color: #555;
    color: #fff;
}

/* Style links inside the article for better visibility in dark mode */
body.dark-mode article a {
    color: #6fa3ef;
}

/* Style links */
a {
    color: #3686e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style header image */
.centered-image {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 200px;
}

/* Style post image */
.post-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 8px 8px 8px 8px;
}

/* Style social media icons in the footer */
footer {
    background-color: #333;
    background-size: cover;
    text-align: center;
    padding: 20px;
}

.social-media-icon {
    width: 90px;
    margin: 0 10px;
}

/* Style ProtonMail logo separately */
.protonmail-logo {
    width: 180px;
}

/* Style for dark/light mode toggle switch */
.mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 25px;
    background-color: #fff;
    border-radius: 12.5px;
    cursor: pointer;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .mode-toggle {
        top: 5px;
    }
}

/* Fixed position for the toggle switch inside the header */
header {
    position: relative;
}

/* Fixed position for the toggle switch */
body.fixed-toggle .mode-toggle {
    position: fixed;
}

/* Style for the slider inside the toggle switch */
.mode-toggle::before {
    content: "";
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    background-color: #d7d6d6;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* Style for dark mode */
body.dark-mode .mode-toggle {
    background-color: #000000;
}

.mode-toggle.dark-mode {
    background-color: #000000;
}

.mode-toggle.dark-mode::before {
    transform: translateX(25px);
}

