h1 {
    font-family: 'saxMono', sans-serif;
    text-align: center;
    font-size: 3rem;
    background-color: bisque;
    color: black;                                                
}

h2 {
    font-family: 'saxMono', sans-serif;
                                                    
}

.revision-links {
    text-align: center;
}

.revision-header-image img {
    display: block;
    margin: 0 auto;
    max-height: 400px;
    max-width: 100%;
    border-radius: 8px;
}

.revision-links {
    padding-bottom: 5rem;
}

.back-to-blog {
    font-family: 'saxMono', sans-serif;
    text-align: right;
    padding-right: 30px;
}

p, ul {
    font-family: 'Arial', sans-serif;
}

.performance-testing {
    background-color: aliceblue;
}

.unit-testing {
    background-color:beige
}
.acceptance-testing {
    background-color: lightgrey;
}

.end-to-end-testing {
    background-color: thistle;
}