h1 {
    font-family: 'saxMono', sans-serif;
    text-align: center;
    font-size: 3rem;
    background-color: bisque;
    color: black;
    padding: 10px;                                                
}

h3 {
    font-size: 1.5rem;
}

h2, .github-link , h3{
    font-family: 'saxMono', sans-serif;
                                                    
}

.revision-links {
    text-align: center;
}

.revision-header-image img {
    display: block;
    margin: 0 auto;
    max-height: 400px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-to-blog {
    font-family: 'saxMono', sans-serif;
    text-align: right;
    padding-right: 30px;
}

p, ul {
    font-family: 'Arial', sans-serif;
}

.performance-testing {
    background-color: aliceblue;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.unit-testing {
    background-color:beige;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
.acceptance-testing {
    background-color: lightgrey;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.end-to-end-testing {
    background-color: thistle;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.github-link {
    background-color: lightblue;
    border-radius: 6px;
}

.data-structures {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.structure {
    border-radius: 8px;
    max-width: 70%;
    border: 1px solid lightgrey;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.built-in-data-structures {
    background-color: rgb(158, 201, 244);
    border-radius: 8px;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    text-align: center;
}

.user-defined-data-structures {
    background-color: rgb(245, 178, 119);
    border-radius: 8px;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
    .revision-pages {
        width: auto;
        height: auto; 
    }

}