h1 {
    font-family: 'saxMono', sans-serif;
    text-align: center;
    font-size: 3rem;
    background-color: bisque;
    color: black;                                                
}

h2 {
    font-family: 'saxMono', sans-serif;
    text-align: center;                                                
}

.revision-image img {
    height: 400px;
    padding-left: 25%;
}

.revision-links {
    padding-bottom: 5rem;
}

.back-to-blog {
    font-family: 'saxMono', sans-serif;
    text-align: right;
    padding-right: 5rem;
}